*{
    padding: 0px;
    margin: 0px;
}
h1 {color:rgba(236, 14, 14, 0.938);}
a {color:rgb(31, 19, 207);} 
nav {color: rgb(31, 19, 207);}
main {color:rgba(236, 14, 14, 0.938)}
nav a, ul, li{
display: flex ;
flex-direction: row ;
flex-wrap: wrap ;
justify-content: space-around ;
align-items: center ;
align-content: center ;
text-decoration: none;
}
nav {
    background-color: red;
    padding: 7px; 
    font-family: 'Times New Roman', Times, serif;
}
main {
    padding: 20px;
}
p {
line-height:2;
    text-indent: 50px;
    margin-left:20px;
    margin-right:20px;
    text-align: justify;
    font-size:26px;
}
